@import 'settings';
@import 'foundation-emails';

@import 'template/template';


/* styles by axel hernan valdez */

table.body .w-90{
    width:90%!important;
    margin: 0 auto;

    @media only screen and (max-width: 596px){
        table.body .w-90{    
            width:580px;
        }
    }
}

table.body .w-80{
    width:80%!important;
    margin: 0 auto;

    @media only screen and (max-width: 596px){
        table.body .w-80{    
            width:500px;
        }
    }
}


table.container{
    background-color: #fff;
    width: 600px!important;

    @media only screen and (max-width: 596px){
    table.body .container {
        width: 95% !important;
    }
    }
}

.p-0{
    padding: 0px!important;
}

.m-0{
    margin: 0;
}

.footer-prisma{
    background-color: #f3f3f3 !important;

    a{
        color:#e6007e;
        font-weight: 300;
        font-size: 20px;
    }
}