<row class="w-90">
    <columns>
        <p>
            Te contamos que debido a una nueva normativa de la UIF (Unidad de Informaci&oacute;n Financiera) deber&aacute;s actualizar tu datos y documentaci&oacute;n desde el <span style="font-weight: 600;">portal web</span>, ingresando a Configuraci&oacute;n &gt; Datos <span style="white-space: nowrap;">de Facturaci&oacute;n.</span>
        </p>
    </columns>
</row>
<row class="w-90">
    <columns>
        <p>
            Los datos que te <span style="white-space: nowrap;">solicitaremos son:</span>
        </p>
    </columns>
</row>
<row class="w-90">
    <block-grid up="1">
        
    <columns small="1" large="1">
        <p>
            &bull;
        </p>
    </columns>
    <columns small="11" large="11">
        <p>
            Nombre y <span style="white-space: nowrap;">apellido completo</span>
        </p>
    </columns>
    <columns small="1" large="1">
        <p>
            &bull;
        </p>
    </columns>
    <columns small="11" large="11">
        <p>
            Nombre y <span style="white-space: nowrap;">apellido completo</span>
        </p>
    </columns>
    </block-grid>
</row>
