<table class="w-90" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <row>
                <columns>
                    <p>
                        Te contamos que debido a una nueva normativa de la UIF (Unidad de Informaci&oacute;n Financiera) deber&aacute;s actualizar tu datos y documentaci&oacute;n desde el <span style="font-weight: 600;">portal web, ingresando a Configuraci&oacute;n &gt; Datos de Facturaci&oacute;n.
                    </p>
                </columns>
            </row>
            <row>
                <columns>
                    <p>
                        Los datos que te solicitaremos son:
                    </p>
                </columns>
            </row>
            <row>
                <columns>
                    <p>
                        <strong>
                            Del Funcionario Responsable del Organismo
                        </strong>
                    </p>
                </columns>
            </row>
        </td>
    </tr>
</table>

<table class="w-80" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            {{> primerListado}}
        </td>
    </tr>
</table>

<spacer size="20"></spacer>

<table class="w-90" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <row>
                <columns>
                    <p>
                        <strong>
                            De la Dependencia en la que el Funcionario se desempe&ntilde;a
                        </strong>
                    </p>
                </columns>
            </row>
        </td>
    </tr>
</table>

<table class="w-80" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            {{> segundoListado}}
        </td>
    </tr>
</table>
<spacer size="20"></spacer>



<table class="w-90" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <row>
                <columns>
                    <p>
                        Y deber&aacute;s adjuntar los siguientes documentos
                    </p>
                </columns>
            </row>
        </td>
    </tr>
</table>

<table class="w-80" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            {{> tercerListado}}
        </td>
    </tr>
</table>
<spacer size="20"></spacer>


<table class="w-90" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <row>
                <columns>
                    <p>
                        <strong>Actualiz&aacute; tus datos. &iexcl;Queremos ayudarte a cumplir la <span style="white-space: nowrap;">normativa actual!</span></strong>
                        No te llevar&aacute; m&aacute;s de 15 minutos hacerlo: ante cualquier consulta, comunicate con nosotros <span style="white-space: nowrap;">al 0800-333-0010</span>
                    </p>
                </columns>
            </row>
        </td>
    </tr>
</table>

<table class="w-90" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <row>
                <columns>
                    <p class="m-0">
                        <strong>
                            &iexcl;Muchas gracias!
                        </strong>
                    </p>
                    <p style="color: #e6007e">
                        <strong>
                            Equipo Todo Pago.
                        </strong>
                    </p>
                </columns>
            </row>
        </td>
    </tr>
</table>